[package]
name = "gherkin_rust"
version = "0.5.1"
authors = ["Brendan Molloy <brendan@bbqsrc.net>"]
description = "A pure Rust implementation of the Gherkin (`.feature` file) language for the Cucumber testing framework"
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/bbqsrc/gherkin-rust"
documentation = "https://docs.rs/gherkin_rust"
homepage = "https://github.com/bbqsrc/gherkin-rust"
edition = "2018"

[[test]]
name = "cucumber"
harness = false

[dependencies]
pest = "2.1"
pest_derive = "2.1"
derive_builder = "0.7"
textwrap = "0.11"

[dev-dependencies]
cucumber = { package = "cucumber_rust", version = "^0.6.0" }